body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(24,49,79);
    background: linear-gradient(90deg, rgba(24,49,79,1) 0%, rgba(139,190,178,1) 100%);
}
#kontak{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#reverse, #split, #vyskit, #nahradit, #hledat {
    display: none;
}

.vyznaceny{
    background-color: yellow;
    font-weight: bold;
  }

select {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
